body{
  font-family: Open, sans-serif;
}
  #current-date {
    font-weight: bold;  
    text-align: center;  }
  .too{
    padding-top: 6px;
    padding-bottom: 13px;
    padding-left: 3px;
  }
  .whiteboard {
    background-color: yellow;
    width: 673px; /* Adjust width as needed */
    height: 437px; /* Adjust height as needed */
    border-radius: 23px 23px 23px 23px;
  }
  .heading {
    /* Style the heading text here */
    font-size: 16px; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    padding: 0px;
  }
  .he{
    display: flex;
    padding-top: 17px;
    padding-left: 27px;
  }
  .yj{
    margin-left: 240px;
  }
  .to{
padding-bottom: 7px;
  }
  .border{
    border-bottom: 2.1px solid;
    border-color:#DDDDDD;
    inline-size: 626px;
    margin-left: 24px;
    padding-top: 12px;  
}
.border-2{
  border-bottom: 2.1px solid;
  border-color:#DDDDDD;
  inline-size: 626px;
  margin-left: 24px;
  padding-top: 13px;
}
.image-een{
  width: 221px;
  height: 131px;
  border-radius: 11px 11px 11px 11px;
}
.flex-con{
  display: flex;
  padding-top: 13px;
  padding-left: 14px;
  flex-direction: row;
}
.img-doot{
  width: 3px;
  height: 3px;
}
.cn-img{
  width: 30px;
  height: 30px;
  background-color: white;
}
.i-c{
  padding-top: 9px;
  display: flex;
}
.i-o{
  padding-top: 9px;
  display: flex;
}
.tt-img{
  width: 20px;
  height: 20px;
}
.fo-img{
  width: 20px;
  height: 20px;
}
.ic-pa{
  padding-left: 8px;
}
.jk{
  font-family: Open, sans-serif;
  display: flex;
  padding-top: 2px;
}
.image-ap{
  width: 15px;
  height: 12px;
}
.cn-im{
  width: 16px;
  height: 18px;
}
.us-im{
  width: 16px;
  height: 18px;
}
.fo-im{
  width: 16px;
  height: 18px;
}
.flex-container{
  font-family: Open, sans-serif;
  display: flex;
  flex-direction: column;
}
.hg{
  font-family: Open, sans-serif;
   display: flex;
  padding-left: 14px;
  padding-top: 6px;
  gap:4px;
}
.whh{
  font-family: Open, sans-serif;
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-left: 18px;
}
.flk{
  font-size: 11px;
  font-family: Open, sans-serif;
  padding-bottom: 2px;
}
.th{
  font-family: Open, sans-serif;
  font-size: 16px;
  width:220px;
  line-height: 1.3;
  padding-top: 10px;
}
.es{
  font-family: Open, sans-serif;
  font-size: 10px;
}
.sp{
  padding-top: 4px;
}
.ad{
  font-size: 14px;
  padding-top: 2px;
  font-weight: 530;
}
.bd{
  padding-left: 14px;
  padding-top: 6px;
  width: 380px;
  line-height: 1.2;
  font-size: 13px;
}
.ka{
  font-size: 11px;
  font-weight: 545;
}
.sp-1{
  padding-top: 1px;
  padding-left: 13px;
}
.so{
  font-family: Open, sans-serif;
  font-size: 13px;
  width:380px;
  padding-top: 3px;
  padding-left: 13px;
}
.ki{
  padding-top: 5px;
  padding-left: 13px;
  font-size: 11px;
}
.sd{
  font-family: Open, sans-serif;
  font-size: 13px;
  width:380px;
  padding-top: 5px;
  padding-left: 13px;
}
.ko{
  padding-top: 5px;
  padding-left: 13px;
  font-size: 11px;
}
.fg{
  font-family: Open, sans-serif;
   display: flex;
  padding-left: 14px;
  padding-top: 8px;
  gap:4px;
}