.container {
  display: flex;
  margin-bottom: 20px;
}

.container img {
  width: 50%;
  object-fit: cover; /* Adjust image display as needed */
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.heading {
  margin-bottom: 5px;
}

.date {
  font-size: 0.8em;
  color: #ccc;
}
