
  #current-date {
    font-weight: bold;  
    text-align: center;  }
  .too{
    padding-top: 25px;
  }
  .whiteboard {
    background-color: yellow;
    width: 651px; /* Adjust width as needed */
    height: 437px; /* Adjust height as needed */
    border-radius: 23px 23px 23px 23px;
  }
  .heading {
    /* Style the heading text here */
    font-size: 16px; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    padding: 0px;
  }
  .he{
    display: flex;
    padding-top: 20px;
    padding-left: 27px;
  }
  .yj{
    margin-left: 310px;
  }
  .to{
padding-bottom: 11px;
  }
  .border{
    border-bottom: 2.1px solid;
    border-color:#DDDDDD;
    inline-size: 596px;
    margin-left: 27px;
    padding-top: 12px;  
}
.image-een{
  width: 120px;
  height: 50px;
  border-radius: 11px 11px 11px 11px;
}